<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>    
  </head>
  <body class="<%= bodyClass %>">
    <% include partials/template/header.ejs %> 
    <section class="container main-content">
      <div class="row">
        <div class="col-sm-12 primary">
          <div class="row">
            <div class="col-sm-6">
              <h1>Libro: <%= book.title %></h1>
            </div>
            <div class="col-sm-6 text-right">
              <h2><a href="/libros"><i class="fa fa-arrow-circle-left"></i> Listado de Libros</a></h2>
            </div>
          </div>
          <img src="/images/books/<%= book.image %>">
          <h4>Resumen:</h4>
          <p><%= book.excerpt %></p>
          <hr/>
        </div> <!-- primary -->
      </div> <!-- row -->
      <% include partials/template/jsdefaults.ejs %>  
    </section><!-- container -->
    <% include partials/template/footer.ejs %> 
  </body>
</html>
