<h2>Libros & Publicaciones</h2>
<ul class="books-list">
        <% for(var i=0; i < books.length; i++){ %>
                <li>
                        <a href="/libros/<%= books[i].shortLink %>">
                                <img src="/images/books/<%= books[i].image %>">
                                <div class="title"><%= books[i].title %></div>
                        </a>
                </li>
        <% } %>
</ul>
<div class="text-center">
        <strong><a href="/libros">Listado de Libros</a></strong>
</div>
