<article>
        <h1>Biografía: Victor Sosa</h1>
        <%- images.bio %>
        <p>Poeta, ensayista, teórico de arte y de literatura, pintor y traductor de la lengua portuguesa.</p>
        <p>Desde 1983 vive en la Ciudad de México y en 1998 adquiere la nacionalidad mexicana. 
        Colaboró regularmente con la revista Vuelta en la década de los 90s.</p>
        <p>Ejerció la crítica de arte y de literatura en La Jornada Semanal, Milenio y 
        Reforma, entre otros periódicos de México. Recibió el Premio Nacional Luis Cardoza 
        y Aragón para Crítica de Arte (1998), y el Premio Nacional de Poesía Pancho Nácar (2000) 
        así como Mención de Honor del Ministerio de Cultura del Uruguay y de la Intendencia de 
        Montevideo por su libro Los animales furiosos.</p>
        <p>Es profesor de Literatura y Arte en diversas universidades y dirige Zona Uno, 
        Seminario Permanente de Apreciación Poética en la Casa Refugio Citlaltépetl.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <hr/>
</article>
