<article>
        <h1>Video Destacado</h1>
        <iframe width="700px" height="400px" src="<%= videos[0].url %>" frameborder="0" allowfullscreen></iframe>
        <div class="row">
                <div class="col-sm-12 text-center">
                        <h3><a href="/videos">Listado de Videos</a></h3>
                </div>
        </div>
        <hr/>
</article>
